
/*Sekcja z projektami ****************************************************************/

   .projects_introduction {
    background-color: rgb(243, 245, 220, 0.3);
    background-color: rgba(231, 220, 245, 0.3);
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   }

   .projects { /*kontener na elemeny project*/
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    
    
   }
   
   .project{
    /*background-color: rebeccapurple;*/
    width: 95%;
    margin: 10px;
    display: flex;
    height: 400px;  /*mozna wywalić*/
    flex-direction: row;
    }

    .project_content {
    background-color: #ababab;
    display: flex;
    align-items: center;
  
 
    }
    .skeleton {
      background-color: #ababab;
      margin-top: 21px;
    }
    .project_description {
    width: 100%;
    background-color: rgb(243, 245, 220, 0.3);
    /*background-color: gray;*/
    margin-left: 10px;
    text-align: center;
  
    display: flex;
    flex-direction: column;
   
    /*background-color: yellow;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    }
    
  .project_description_container{
  /* background-color: red;*/
  
 
  text-align: left;
  /*width: 80%;*/
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 245, 220, 0.3);
  
  
  }
  .project_description_technologies{
    /*background-color: green;*/
    /*background-color: rgb(243, 245, 220, 0.3);*/
  /* background-color: red;*/
  
  text-align: left;
  flex-grow: 10; 
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  }
  .tech_used_container{
    background-color: rgb(243, 245, 220, 0.3);
   /* background-color: yellowgreen;*/
    /*width: 60%;*/
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 
    
  }

  .tech_used{
    background-color: #00006e;
    background-color: rgb(76, 0, 99);
    background-color: rgba(22, 20, 151, 0.9);
    width: fit-content;
    height: 30px;
   
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;

    font-size: 0.7em;
    line-height: 2.3em;
    margin-top: 0.97058824em;
    margin-bottom: 0.97058824em;
    color: white;

    font-weight: 900;

    
    }
    .tech_used_description{
     /* background-color: cadetblue;*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 10;
     /*width: 60%;*/
    }
    .tech_used_description_text{
      background-color: rgba(214, 196, 212, 0.6);
      background-color: rgb(255, 255, 0.8);
      background-color: rgba(134, 4, 124, 0.6);
      background-color: red;
      width: fit-content;
      visibility: hidden;

      font-size: 0.6em;
      line-height: 1.334117647em;
      margin-top: 0.37058824em;
      margin-bottom: 0.37058824em;
      color:  rgba(14, 15, 1, 0.7);
      font-weight: 900;

      font-size: 0.7em;
      line-height: 1.94117647em;
     
      color:  rgba(14, 15, 1, 0.7);
      font-weight: 900;
      padding-left: 5px;
      padding-right: 5px;



      
    }



.tech_used_introduction{
  /*background-color: yellow;*/
  /*background-color: rgba(48, 5, 150, 0.5);*/
  text-align: center;
  background-color: rgb(243, 245, 220, 0.5);
}


















  
  .project_description_source{
  /* background-color: red;*/
  /*width: fit-content;*/
  background-color: rgb(255, 249, 249, 0.8);
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;


  }

 .git_icon {
  padding-right: 5px;
 
 }

 .project_description_tittle{
  /*background-color: blue;*/
  align-self: center;

  width: 100%;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(243, 245, 220, 0.5);
 }
 .project_description__text {
     background-color: rgb(243, 245, 220, 0.2);
   align-self: center;
    padding-left: 5px;
    padding-right: 5px;
 }